#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: false,
    draw_borders: false,
    browser_column_widths: [0, 58, 42],
    text_color: "#DCD7BA",
    tab_bar: (
        enabled: true,
        active_style: (fg: "#aca9a4", bg:"#DCD7BA",modifiers: "Bold"),
        inactive_style: (fg: "#9e9b93", modifiers: ""),
    ),
    highlighted_item_style: (fg: "#aca9a4", modifiers: "Bold"),
    current_item_style: (fg: "#DCD7BA", bg: "#363646", modifiers: "Bold"),
    borders_style: (fg: "#9e9b93", modifiers: "Bold"),
    highlight_border_style: (fg: "#9e9b93"),
    symbols: (song: "󰝚 ", dir: " ", marker: "* ", ellipsis: "..."),
    progress_bar: (
        symbols: ["█", "█", "█"],
        track_style: (fg: "#2A2A37"),
        elapsed_style: (fg: "#9e9b93"),
        thumb_style: (fg: "#9e9b93"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (fg: "#9e9b93"),
        ends_style: (fg: "#9e9b93"),
        thumb_style: (fg: "#9e9b93"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Title), style: (fg: "#DCD7BA"),
                highlighted_item_style: (fg: "#9e9b93", modifiers: "Bold"),
                default: (kind: Property(Filename), style: (fg: "gray"),)
            ),
            width: "70%",
        ),
        (
            prop: (kind: Property(Artist),
                style: (fg: "#9e9b93"),
                default: (
                    kind: Text("Unknown Album"),
                    style: (fg: "#9e9b93")
                )
            ),
            width: "30%",
        ),
    ],
    layout: Split(
        direction: Vertical,
        borders: "NONE",
        panes: [
            (
                size: "3",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    (
                                        size: "2",
                                        borders: "NONE",
                                        pane: Pane(Header),
                                    ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
            (
                size: "2",
                borders: "BOTTOM",
                pane: Pane(ProgressBar),
            ),
            (
                size: "100%",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            borders: "NONE",
                            pane: Pane(TabContent),
                        ),
                    ]
                ),
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Property(Status(ActiveTab)), style: (fg: "#aca9a4", modifiers: "Bold")),
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#DCD7BA",modifiers: "Bold"),
                        default: (kind: Property(Song(Filename)), style: (fg: "#DCD7BA",modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Property(Widget(Volume)), style: (fg: "#aca9a4"))
                    //(kind: Text("Vol: "), style: (fg: "#aca9a4", modifiers: "Bold")),
                    //(kind: Property(Status(Volume)), style: (fg: "#aca9a4", modifiers: "Bold")),
                    //(kind: Text("% "), style: (fg: "#aca9a4", modifiers: "Bold"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed)),style: (fg: "#DCD7BA")),
                    (kind: Text("/"),style: (fg: "#2A2A37")),
                    (kind: Property(Status(Duration)),style: (fg: "#DCD7BA")),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#aca9a4", modifiers: "Bold"),
                        default: (kind: Text("Unknown Artist"), style: (fg: "#aca9a4", modifiers: "Bold"))
                    ),
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "#DCD7BA", modifiers: "Bold"),
                            separator_style: (fg: "#DCD7BA")))
                        ),
                        style: (fg: "#9e9b93")
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)
